#percentages {
    background-color: #8eecf5;
    width: 800px;
    height: 800px;
}

#percentages div {
    background-color: #f1c0e8;
    width: 50%;
    height: 50%;
}

#ems h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

#ems h2 {
    font-size: 2em;
    margin-left: 1em;
}

#ems h3 {
    font-size: 1.5em;
}

#ems p {
    font-size: 0.8em;
}

#ems {
    font-size: 20px;
}




button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #b9fbc0;
    border-color: #cfbaf0;
    color: #cfbaf0;
}

#ems ul {
    font-size: 1.5em;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

ul {
    font-size: 1.5rem;
}